.notification-window-view {
  background-color : rgba($black, $alpha-4);
  
  .title-label {
    font-size   : 0.2rem;
    font-weight : 700;
    color       : $white;
    line-height : 50px;
    height      : 50px;
  }
  
  .content-label {
    font-size   : 0.14rem;
    font-weight : 500;
    color       : $grey-390;
    overflow    : auto;
  }
}
