html, body {
  overflow         : hidden;
  background-color : $black;
  font-family      : Arial, Helvetica, sans-serif;
  font-size        : 100px;
}

body *:not(script):not(style) {
  pointer-events : auto;
  position       : absolute;
  display        : block;
  box-sizing     : border-box;
}

.button {
  border-radius    : 5px;
  font-size        : 0.16rem;
  font-weight      : 500;
  height           : 40px;
  line-height      : 40px;
  text-align       : center;
  color            : $white;
  cursor           : pointer;
  background-color : rgba($blue-900, $alpha-3);
  font-family      : Arial, Helvetica, sans-serif;

  &:hover {
    background-color : rgba($blue-900, $alpha-2);
  }

  &:active {
    background-color : rgba($blue-900, $alpha-1);
  }
}

.animated {
  animation  : fade-in 0.2s ease-in;

  @keyframes fade-in {
    from {
      opacity : 0;
    }
    to {
      opacity : 1;
    }
  }
}

.animate {
  transition : 0.2s ease-out;
}
