.content-view {
  background-color : rgba($black, $alpha-4);

  .background {
    transition          : 0.2s ease-out;
    background-position : center center;
    background-repeat   : no-repeat;
    background-size     : cover;
    background-image    : url(../images/background.jpg?v={{date}});
  }

  .box {
    top              : 100px;
    border-radius    : 5px;
    background-color : rgba($white, $alpha-2);
    box-shadow       : 0 0 60px rgba($black, $alpha-2);
    width            : 320px;
    height           : 130px;

    .label {
      top         : 34px;
      width       : 320px;
      height      : 30px;
      font-size   : 0.24rem;
      font-weight : 500;
      line-height : 30px;
      text-align  : center;
      color       : $grey-390;
    }

    .show-notification-button {
      border-radius : 0 0 5px 5px;
      width         : 320px;
      top           : 90px;
    }
  }

  .show-external-application-button {
    width : 320px;
    top   : 250px;
  }
}

.animation-explode {
  background-image          : url(../images/explosion.png?v={{date}});
  background-size           : 300% 400%;
  animation                 : animation-key-explode steps(1) 1750ms;
  animation-iteration-count : 1;
  animation-direction       : normal;
}
@keyframes animation-key-explode {
  0% {
    background-position : 0% 0%;
  }
  2.380952380952381% {
    background-position : 0% 0%;
  }
  4.761904761904762% {
    background-position : 0% 0%;
  }
  7.142857142857142% {
    background-position : 0% 0%;
  }
  9.523809523809524% {
    background-position : 0% 0%;
  }
  11.904761904761903% {
    background-position : 0% 0%;
  }
  14.285714285714285% {
    background-position : 0% 0%;
  }
  16.666666666666664% {
    background-position : 0% 0%;
  }
  19.047619047619047% {
    background-position : 0% 0%;
  }
  21.428571428571427% {
    background-position : 0% 0%;
  }
  23.809523809523807% {
    background-position : 0% 0%;
  }
  26.190476190476193% {
    background-position : 0% 0%;
  }
  28.57142857142857% {
    background-position : 0% 0%;
  }
  30.952380952380953% {
    background-position : 0% 0%;
  }
  33.33333333333333% {
    background-position : 0% 0%;
  }
  35.714285714285715% {
    background-position : 0% 0%;
  }
  38.095238095238095% {
    background-position : 0% 0%;
  }
  40.476190476190474% {
    background-position : 0% 0%;
  }
  42.857142857142854% {
    background-position : 0% 0%;
  }
  45.23809523809524% {
    background-position : 0% 0%;
  }
  47.61904761904761% {
    background-position : 50% 0%;
  }
  50% {
    background-position : 50% 0%;
  }
  52.38095238095239% {
    background-position : 100% 0%;
  }
  54.761904761904766% {
    background-position : 100% 0%;
  }
  57.14285714285714% {
    background-position : 0% 33.33333333333333%;
  }
  59.523809523809526% {
    background-position : 0% 33.33333333333333%;
  }
  61.904761904761905% {
    background-position : 50% 33.33333333333333%;
  }
  64.28571428571429% {
    background-position : 50% 33.33333333333333%;
  }
  66.66666666666666% {
    background-position : 100% 33.33333333333333%;
  }
  69.04761904761905% {
    background-position : 100% 33.33333333333333%;
  }
  71.42857142857143% {
    background-position : 0% 66.66666666666666%;
  }
  73.80952380952381% {
    background-position : 0% 66.66666666666666%;
  }
  76.19047619047619% {
    background-position : 50% 66.66666666666666%;
  }
  78.57142857142857% {
    background-position : 50% 66.66666666666666%;
  }
  80.95238095238095% {
    background-position : 100% 66.66666666666666%;
  }
  83.33333333333334% {
    background-position : 100% 66.66666666666666%;
  }
  85.71428571428571% {
    background-position : 0% 100%;
  }
  88.09523809523809% {
    background-position : 0% 100%;
  }
  90.47619047619048% {
    background-position : 50% 100%;
  }
  92.85714285714286% {
    background-position : 50% 100%;
  }
  95.23809523809523% {
    background-position : 100% 100%;
  }
  97.61904761904762% {
    background-position : 100% 100%;
  }
}

.animation-fireworks {
  background-image          : url(../images/triple03_sheet.png?v={{date}});
  background-size           : 800% 300%;
  animation                 : animation-key-fireworks steps(1) 1000ms;
  animation-iteration-count : infinite;
  animation-direction       : normal;
}
@keyframes animation-key-fireworks {
  0% {
    background-position : 0% 0%;
  }
  4.166666666666666% {
    background-position : 14.285714285714285% 0%;
  }
  8.333333333333332% {
    background-position : 28.57142857142857% 0%;
  }
  12.5% {
    background-position : 42.857142857142854% 0%;
  }
  16.666666666666664% {
    background-position : 57.14285714285714% 0%;
  }
  20.833333333333336% {
    background-position : 71.42857142857143% 0%;
  }
  25% {
    background-position : 85.71428571428571% 0%;
  }
  29.166666666666668% {
    background-position : 100% 0%;
  }
  33.33333333333333% {
    background-position : 0% 50%;
  }
  37.5% {
    background-position : 14.285714285714285% 50%;
  }
  41.66666666666667% {
    background-position : 28.57142857142857% 50%;
  }
  45.83333333333333% {
    background-position : 42.857142857142854% 50%;
  }
  50% {
    background-position : 57.14285714285714% 50%;
  }
  54.166666666666664% {
    background-position : 71.42857142857143% 50%;
  }
  58.333333333333336% {
    background-position : 85.71428571428571% 50%;
  }
  62.5% {
    background-position : 100% 50%;
  }
  66.66666666666666% {
    background-position : 0% 100%;
  }
  70.83333333333334% {
    background-position : 14.285714285714285% 100%;
  }
  75% {
    background-position : 28.57142857142857% 100%;
  }
  79.16666666666666% {
    background-position : 42.857142857142854% 100%;
  }
  83.33333333333334% {
    background-position : 57.14285714285714% 100%;
  }
  87.5% {
    background-position : 71.42857142857143% 100%;
  }
  91.66666666666666% {
    background-position : 85.71428571428571% 100%;
  }
  95.83333333333334% {
    background-position : 100% 100%;
  }
}
