.notification-window-view {
  background-color : rgba($black, $alpha-4);
  position         : fixed;

  .title-label {
    font-weight : 700;
    line-height : 50px;
    font-size   : 0.2rem;
    height      : 50px;
    color       : $white;
  }

  .content-label {
    font-weight : 500;
    font-size   : 0.14rem;
    overflow    : auto;
    color       : $grey-390;
  }
}
